

.googlemenu {
    width: 300px;
     padding: 150px;
    position: relative;
    margin:auto;


}

.tasiyici{
   
    
    
    
}


.bolme1{
    
     padding-left: 650px;
     float: left;
        
    
    
    

}

.bolme2{ 
    
    float: left;
   
    
} 

.bolme3{
    
    float: left;
 
   
    

}
